body {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  scroll-behavior: smooth; }

a {
  color: #000; }

.amber-extra {
  background: #faaf0c; }

.amber-500 {
  background: #FFC107; }

.amber-300 {
  background: #FFD54F; }

.amber-200 {
  background: #FFE082; }

div {
  border-radius: 0; }

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  header .nav li {
    padding: 10px 5px; }
    header .nav li a {
      font-size: 1.2em; }
  header .nav li:hover {
    background: #FFD54F; }

.banner {
  padding: 135px 0; }

.jumbotron {
  border-radius: 0; }

.btn {
  border-radius: 0; }

.btn-black {
  background: #000;
  color: #FFFFFF; }

.btn-grey-dark {
  background: #212121;
  color: #FFFFFF; }

.card {
  border-radius: 0; }

div {
  padding: 0;
  color: #000; }

.services {
  text-align: center;
  padding: 100px 1em;
  background: #faaf0c; }
  .services .heading {
    padding-bottom: 60px; }

.testimony {
  text-align: center;
  padding: 100px 1em;
  background: linear-gradient(#faaf0c, #f9850f);
  color: #000; }
  .testimony .heading {
    padding-bottom: 60px; }
    .testimony .heading h4 {
      font-weight: bold; }

.bg-img {
  background: -webkit-linear-gradient(rgba(255, 213, 78, 0), #f9af0f);
  background: -o-linear-gradient(rgba(255, 213, 78, 0), #f9af0f);
  background: linear-gradient(rgba(255, 213, 78, 0), #f9af0f), url(../img/back.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 100%; }

.hello {
  color: #ffffff; }

.single-column {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  justify-content: center; }
  .single-column img {
    margin-top: 40px; }

.margin-btm {
  margin-bottom: 25px; }

.avatar {
  width: 250px;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 25px; }

.crazy-brown {
  color: #644C25; }

.overlay {
  position: absolute;
  display: none;
  background: #212121;
  height: 100%;
  text-align: center;
  padding: 12%;
  color: #ffffff;
  top: 0;
  z-index: 1000;
  opacity: 0.9;
  transform: translate(0%, 0%);
  transition: transform .2s ease-in; }

.hov {
  margin-bottom: 75px; }

.hov:hover .overlay {
  display: block; }

/*footer{
  background: #f9850f;
  padding: 100px 1em;
  text-align: center;
}*/
footer {
  background: #faaf0c;
  padding: 100px 1em;
  text-align: center; }

.contact {
  padding: 100px 1em;
  text-align: center;
  background: #faaf0c; }
  .contact .heading {
    padding-bottom: 60px; }
    .contact .heading h4 {
      font-weight: bold; }

@media screen and (max-width: 768px) {
  .h1, h1 {
    font-size: 1.7rem; }
  .margin-btm-100 {
    margin-bottom: 100px; }
  .single-column {
    width: auto;
    margin: 0; } }

@media screen and (max-width: 884px) {
  .h1, h1 {
    font-size: 1.7rem; }
  .margin-btm-100 {
    margin-bottom: 100px; } }
