//colors
$black: #000;
$gray-900: #212121;
$amber-extra: #faaf0c;
$amber-500: #FFC107;
$amber-300: #FFD54F;
$amber-200: #FFE082;
$light: #f8f9fa;
$crazy-brown: #644C25;

//fonts
$font-family: "Exo",sans-serif;
//$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
